@page
@model AspNetcoreRazorpages.Pages.AdditionModel
@{
}
<p>
 "Add is :"   @TempData["z"]
</p>
<p>
    "sub is :"   @TempData["sub"]
</p>
<p>
 "mul is :"   @TempData["mul"]
</p>
<p>
    "div is :"   @TempData["div"]
</p>