@page
@model AspNetcoreRazorpages.Pages.DeleteUsersModel
@{
}
<h2>Here is the Users Name which we are trying to Delete</h2>

<p>
    User Name is : @Model._userdata.Name
</p>
<form method="post">
    <input type="submit" name="submit" value="submit" />
</form>