@page
@model AspNetcoreRazorpages.Pages.DemoModel
@{
}
<table>
    <tr>
        <td style="color:red
">Welcome To Web App Development</td>
    </tr>
</table>

<p>Current Date and Time: @TempData["date"]</p>